In [2]:
import pandas as pd
import numpy as np

# Q1-A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions

In [12]:
#Assumptions:
#1)Data is more than 30 so we are taking t distribution same as the Normal distribution so s=sigma.
#2)Standard deviation of unit A and Unit B is having small difference so we are assuming both standard deviation same and it is their average

#We are considering below hypothesis:
# Ho(Null hypothesis): u1 (Unit A mean) == u2 (Unit B mean) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (Unit A mean) != u2 (Unit B mean).... (!= not equal to sign)

# we are testing hypothesis Ho.
#Our test statistics (Ts) = (Xn bar (i.e.Unit A sample mean) - Yn bar(i.e.Unit B sample mean))/((2*(Sigma^2)/n)^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)

In [4]:
df_cutlets = pd.read_csv("Cutlets.csv")
df_cutlets

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [32]:
Xnbar= df_cutlets["Unit A"].mean()
sigma1=df_cutlets["Unit A"].std()
Ynbar= df_cutlets["Unit B"].mean()
sigma2=df_cutlets["Unit B"].std()
sigma = (sigma1+sigma2)/2
n=df_cutlets["Unit A"].count()

In [39]:
Ts=(Xnbar-Ynbar)/np.sqrt((2*(sigma*sigma))/n)
Ts

0.7256018672810148

In [3]:
from scipy import stats

In [48]:
int= list(stats.norm.interval(0.95))
int

[-1.959963984540054, 1.959963984540054]

In [60]:
Ts<=int

array([False,  True])

In [61]:
#As Ts in the int(95% confidence or 5% significance range) i.e between -2 to +2 so Ho is True so.
#So u1=u2 and so we can say that there is no siginicant difference in the diameter of the cutlet between two units.

# Q-2 A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [123]:
df_labtat=pd.read_csv("LabTAT.csv")
df_labtat

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [20]:
#Assumptions:
#1)Data is more than 30 so we are taking t distribution same as the Normal distribution so s=sigma.
#2)Standard deviation of laboratories 1,2,3 and 4 is having small difference so we are assuming all standard deviation same and it is their average

#We are conducting six hypoyhesis as below:
# 1.
#Ho(Null hypothesis): u1 (Laboratory 1 mean) == u2 (Laboratory 2 mean) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (Laboratory 1 mean) != u2 (Laboratory 2 mean).... (!= not equal to sign)

# 2.
# Ho(Null hypothesis): u1 (Laboratory 1 mean) == u3 (Laboratory 3 mean) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (Laboratory 1 mean) != u3 (Laboratory 3 mean).... (!= not equal to sign)

# 3.
# Ho(Null hypothesis): u1 (Laboratory 1 mean) == u4 (Laboratory 4 mean) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (Laboratory 1 mean) != u4 (Laboratory 4 mean).... (!= not equal to sign)

# 4.
# Ho(Null hypothesis): u2 (Laboratory 2 mean) == u3 (Laboratory 3 mean) .....(== equal to sign)
# H1(Alternative hypothesis):u2 (Laboratory 2 mean) != u3 (Laboratory 3 mean).... (!= not equal to sign)

# 5.
# Ho(Null hypothesis): u2 (Laboratory 2 mean) == u4 (Laboratory 4 mean) .....(== equal to sign)
# H1(Alternative hypothesis):u2 (Laboratory 2 mean) != u4 (Laboratory 4 mean).... (!= not equal to sign)

# 6.
# Ho(Null hypothesis): u3 (Laboratory 3 mean) == u4 (Laboratory 4 mean) .....(== equal to sign)
# H1(Alternative hypothesis):u3 (Laboratory 3 mean) != u4 (Laboratory 4 mean).... (!= not equal to sign)

# we are testing hypothesis Ho for the six cases:
#for 1.
#Our test statistics (Ts) = (Xn bar (i.e.laboratory 1 sample mean) - Yn bar(i.e.laboratory 2 sample mean))/((2*(Sigma^2)/n)^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 2.
#Our test statistics (Ts) = (Xn bar (i.e.laboratory 1 sample mean) - Zn bar(i.e.laboratory 3 sample mean))/((2*(Sigma^2)/n)^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 3.
#Our test statistics (Ts) = (Xn bar (i.e.laboratory 1 sample mean) - Wn bar(i.e.laboratory 4 sample mean))/((2*(Sigma^2)/n)^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 4.
#Our test statistics (Ts) = (Yn bar (i.e.laboratory 2 sample mean) - Zn bar(i.e.laboratory 3 sample mean))/((2*(Sigma^2)/n)^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 5.
#Our test statistics (Ts) = (Yn bar (i.e.laboratory 2 sample mean) - Wn bar(i.e.laboratory 4 sample mean))/((2*(Sigma^2)/n)^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 6.
#Our test statistics (Ts) = (Zn bar (i.e.laboratory 3 sample mean) - Wn bar(i.e.laboratory 4 sample mean))/((2*(Sigma^2)/n)^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)

In [125]:
Xnbar= df_labtat["Laboratory 1"].mean()
sigma1=df_labtat["Laboratory 1"].std()
Ynbar= df_labtat["Laboratory 2"].mean()
sigma2=df_labtat["Laboratory 2"].std()
Znbar= df_labtat["Laboratory 3"].mean()
sigma3=df_labtat["Laboratory 3"].std()
Wnbar= df_labtat["Laboratory 4"].mean()
sigma4=df_labtat["Laboratory 4"].std()
sigma = (sigma1+sigma2+sigma3+sigma4)/4
n=df_labtat["Laboratory 4"].count()

In [126]:
#Ts for 1.
Ts1=(Xnbar-Ynbar)/np.sqrt((2*(sigma*sigma))/n)
Ts1

-0.28069032588110915

In [127]:
int= list(stats.norm.interval(0.95))
int

[-1.959963984540054, 1.959963984540054]

In [128]:
Ts<=int

array([False,  True])

In [129]:
#As Ts1 in the int(95% confidence or 5% significance range) i.e between -2 to +2 so Ho is True so.
#So u1=u2 and so we can say that there is no difference in the average turnaround time(TAT) of reports of laboratory 1 and 2.

In [130]:
#Ts for 2.
Ts2=(Xnbar-Znbar)/np.sqrt((2*(sigma*sigma))/n)
Ts2

-11.174897179704416

In [131]:
#As Ts2 is not in the int(95% confidence or 5% significance range) i.e not between -2 to +2 so Ho is False.
#So u1!=u3(not equal to) and so we can say that there is difference in the average turnaround time(TAT) of reports of laboratory 1 and 3.

In [132]:
#Ts for 3.
Ts3=(Xnbar-Wnbar)/np.sqrt((2*(sigma*sigma))/n)
Ts3

7.611218925899909

In [133]:
#As Ts3 is not in the int(95% confidence or 5% significance range) i.e not between -2 to +2 so Ho is False.
#So u1!=u4(not equal to) and so we can say that there is difference in the average turnaround time(TAT) of reports of laboratory 1 and 4.

In [134]:
#Ts for 4.
Ts4=(Ynbar-Znbar)/np.sqrt((2*(sigma*sigma))/n)
Ts4

-10.894206853823308

In [135]:
#As Ts4 is not in the int(95% confidence or 5% significance range) i.e not between -2 to +2 so Ho is False.
#So u2!=u3(not equal to) and so we can say that there is difference in the average turnaround time(TAT) of reports of laboratory 2 and 3.

In [136]:
#Ts for 5.
Ts5=(Ynbar-Wnbar)/np.sqrt((2*(sigma*sigma))/n)
Ts5

7.891909251781018

In [137]:
#As Ts5 is not in the int(95% confidence or 5% significance range) i.e not between -2 to +2 so Ho is False.
#So u2!=u4(not equal to) and so we can say that there is difference in the average turnaround time(TAT) of reports of laboratory 2 and 4.

In [138]:
#Ts for 6.
Ts6=(Znbar-Wnbar)/np.sqrt((2*(sigma*sigma))/n)
Ts6

18.786116105604325

In [139]:
#As Ts6 is not in the int(95% confidence or 5% significance range) i.e not between -2 to +2 so Ho is False.
#So u3!=u4(not equal to) and so we can say that there is difference in the average turnaround time(TAT) of reports of laboratory 3 and 4.

In [142]:
# So finally There is no difference in the average Turn Around Time (TAT) of reports of the laboratories 1 and 2 but there is 
# difference in the average Turn Around Time (TAT) of reports of the laboratories 1 and 3, laboratories 1 and 4, laboratories 2 and 3, laboratories 2 and 4 & between laboratories 3 and 4.

# Q-3 Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [24]:
df_buyerratio=pd.read_csv("BuyerRatio (3).csv")
df_buyerratio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [29]:
#Assumptions:
#1)We are assuming variance sigma is equal to 1.
#2)Standard deviation is equal to 1 as sigma is 1 and also we are assuming this is following normal distribution

#We are conducting six hypoyhesis as below:
# 1.
#Ho(Null hypothesis): u1 (East male/female ratio) == u2 (West male/female ratio) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (East male/female ratio) != u2 (West male/female ratio).... (!= not equal to sign)

# 2.
#Ho(Null hypothesis): u1 (East male/female ratio) == u3 (North male/female ratio) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (East male/female ratio) != u3 (North male/female ratio).... (!= not equal to sign)

# 3.
#Ho(Null hypothesis): u1 (East male/female ratio) == u4 (South male/female ratio) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (East male/female ratio) != u4 (South male/female ratio).... (!= not equal to sign)

# 4.
#Ho(Null hypothesis): u2 (West male/female ratio) == u3 (North male/female ratio) .....(== equal to sign)
# H1(Alternative hypothesis):u2 (West male/female ratio) != u3 (North male/female ratio).... (!= not equal to sign)

# 5.
#Ho(Null hypothesis): u2 (West male/female ratio) == u4 (South male/female ratio) .....(== equal to sign)
# H1(Alternative hypothesis):u2 (West male/female ratio) != u4 (South male/female ratio).... (!= not equal to sign)

# 6.
#Ho(Null hypothesis): u3 (North male/female ratio) == u4 (South male/female ratio) .....(== equal to sign)
# H1(Alternative hypothesis):u3 (North male/female ratio) != u4 (South male/female ratio).... (!= not equal to sign)

# we are testing hypothesis Ho for the six cases:
#for 1.
#Our test statistics (Ts) = (Xn bar (i.e.East male/female sample mean) - Yn bar(i.e West male/female sample mean))/(2*sigma)^0.5

In [26]:
Xnbar=df_buyerratio["East"][0]/df_buyerratio["East"][1]
Ynbar=df_buyerratio["West"][0]/df_buyerratio["West"][1]
Znbar=df_buyerratio["North"][0]/df_buyerratio["North"][1]
Wnbar=df_buyerratio["South"][0]/df_buyerratio["South"][1]

In [28]:
#Ts for 1.
Ts1=(Xnbar-Ynbar)/(np.sqrt(2))
Ts1

0.01534810380821662

In [37]:
#P value for 1.
P1=(1-stats.norm.cdf(Ts1))+(stats.norm.cdf(-Ts1))
P1

0.9877544657041448

In [48]:
#aplha for 1. (probability of rejecting null hypothesis)
alpha1 =1-P1
alpha1

0.012245534295855176

In [42]:
P1<alpha1

False

In [43]:
#As P1 is not less than alpha1 so we are accepting Ho. So male/female ratio is similar across East and West region

In [44]:
#Ts for 2.
Ts2=(Xnbar-Znbar)/(np.sqrt(2))
Ts2

0.012964703215224815

In [45]:
#P value for 2.
P2=(1-stats.norm.cdf(Ts2))+(stats.norm.cdf(-Ts2))
P2

0.989655953247307

In [47]:
#aplha for 2. (probability of rejecting null hypothesis)
alpha2 =1-P2
alpha2

0.01034404675269296

In [54]:
P2<alpha2

False

In [50]:
#As P2 is not less than alpha2 so we are accepting Ho. So male/female ratio is similar across East and North region

In [51]:
#Ts for 3.
Ts3=(Xnbar-Wnbar)/(np.sqrt(2))
Ts3

0.015280008604950678

In [52]:
#P value for 3.
P3=(1-stats.norm.cdf(Ts3))+(stats.norm.cdf(-Ts3))
P3

0.9878087914448663

In [56]:
#aplha for 3. (probability of rejecting null hypothesis)
alpha3 =1-P3
alpha3

0.01219120855513367

In [57]:
P3<alpha3

False

In [58]:
#As P3 is not less than alpha3 so we are accepting Ho. So male/female ratio is similar across East and South region

In [59]:
#Ts for 4.
Ts4=(Ynbar-Znbar)/(np.sqrt(2))
Ts4

-0.002383400592991805

In [61]:
#P value for 4.
P4=(1-stats.norm.cdf(-Ts4))+(stats.norm.cdf(Ts4))
P4

0.9980983232650873

In [64]:
#aplha for 4. (probability of rejecting null hypothesis)
alpha4 =1-P4
alpha4

0.001901676734912705

In [65]:
P4<alpha4

False

In [66]:
#As P4 is not less than alpha4 so we are accepting Ho. So male/female ratio is similar across West and North region

In [67]:
#Ts for 5.
Ts5=(Ynbar-Wnbar)/(np.sqrt(2))
Ts5

-6.809520326594312e-05

In [74]:
#P value for 5.
P5=(1-stats.norm.cdf(-Ts5))+(stats.norm.cdf(Ts5))
P5

0.9999456678886913

In [75]:
#aplha for 5. (probability of rejecting null hypothesis)
alpha5 =1-P5
alpha5

5.433211130867477e-05

In [76]:
P5<alpha5

False

In [71]:
#As P5 is not less than alpha5 so we are accepting Ho. So male/female ratio is similar across West and South region

In [72]:
#Ts for 6.
Ts6=(Znbar-Wnbar)/(np.sqrt(2))
Ts6

0.002315305389725862

In [77]:
#P value for 6.
P6=(1-stats.norm.cdf(Ts6))+(stats.norm.cdf(-Ts6))
P6

0.9981526552264857

In [78]:
#aplha for 6. (probability of rejecting null hypothesis)
alpha6 =1-P6
alpha6

0.0018473447735143367

In [79]:
P6<alpha6

False

In [80]:
#As P6 is not less than alpha6 so we are accepting Ho. So male/female ratio is similar across North and South region

In [81]:
#So male -female ratios are similar across all the regions

# Q4-TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [100]:
df_custorder=pd.read_csv("Costomer+OrderForm.csv")
df_custorder

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [135]:
df_custorder.Phillippines.value_counts("Defective").Defective

0.09666666666666666

In [142]:
#We are counting the Defective order forms and Defective is repeated word so sigma is taken as 1.

#We are conducting six hypoyhesis as below:
# 1.
#Ho(Null hypothesis): u1 (Phillippines Defective %) == u2 (Indonesia Defective %) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (Phillippines Defective %) != u2 (Indonesia Defective %).... (!= not equal to sign)
# 2.
#Ho(Null hypothesis): u1 (Phillippines Defective %) == u3 (Malta Defective %) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (Phillippines Defective %) != u3 (Malta Defective %).... (!= not equal to sign)
# 3.
#Ho(Null hypothesis): u1 (Phillippines Defective %) == u4 (India Defective %) .....(== equal to sign)
# H1(Alternative hypothesis):u1 (Phillippines Defective %) != u4 (India Defective %).... (!= not equal to sign)
# 4.
#Ho(Null hypothesis): u2 (Indonesia Defective %) == u3 (Malta Defective %) .....(== equal to sign)
# H1(Alternative hypothesis):u2 (Indonesia Defective %) != u3 (Malta Defective %).... (!= not equal to sign)
# 5.
#Ho(Null hypothesis): u2 (Indonesia Defective %) == u4 (India Defective %) .....(== equal to sign)
# H1(Alternative hypothesis):u2 (Indonesia Defective %) != u4 (India Defective %).... (!= not equal to sign)
# 6.
#Ho(Null hypothesis): u3 (Malta Defective %) == u4 (India Defective %) .....(== equal to sign)
# H1(Alternative hypothesis):u3 (Malta Defective %) != u4 (India Defective %).... (!= not equal to sign)

# we are testing hypothesis Ho for the six cases:
#for 1.
#Our test statistics (Ts) = (Xn bar (i.e.Phillippines Defective) - Yn bar(i.e.Indonesia Defective %))/((2*(sigma))^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 2.
#Our test statistics (Ts) = (Xn bar (i.e.Phillippines Defective) - Zn bar(i.e.Malta Defective %))/((2*(sigma))^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 3.
#Our test statistics (Ts) = (Xn bar (i.e.Phillippines Defective) - Wn bar(i.e.India Defective %))/((2*(sigma))^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 4.
#Our test statistics (Ts) = (Yn bar (i.e.Indonesia Defective) - Zn bar(i.e.Malta Defective %))/((2*(sigma))^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 5.
#Our test statistics (Ts) = (Yn bar (i.e.Indonesia Defective) - Wn bar(i.e.India Defective %))/((2*(sigma))^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)
#for 6.
#Our test statistics (Ts) = (Zn bar (i.e.Malta Defective) - Wn bar(i.e.India Defective %))/((2*(sigma))^0.5)
# If Ts is within range of -2 to +2 then Ho is True else H1 is true....(for the 5% significance level or for 95% confidence)

In [137]:
df_custorder.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [144]:
Xnbar=df_custorder.Phillippines.value_counts("Defective").Defective
Ynbar=df_custorder.Indonesia.value_counts("Defective").Defective
Znbar=df_custorder.Malta.value_counts("Defective").Defective
Wnbar=df_custorder.India.value_counts("Defective").Defective

In [145]:
#Ts for 1.
Ts1=(Xnbar-Ynbar)/(np.sqrt(2))
Ts1

-0.009428090415820635

In [150]:
int= stats.norm.interval(0.95)
int

(-1.959963984540054, 1.959963984540054)

In [151]:
#As Ts1 in the int(95% confidence or 5% significance range) i.e between -2 to +2 so Ho is True so.
#So u1=u2 and so we can say that defective % not varies from Phillipines to Indonesia.

In [152]:
#Ts for 2.
Ts2=(Xnbar-Znbar)/(np.sqrt(2))
Ts2

-0.0047140452079103175

In [153]:
#As Ts2 in the int(95% confidence or 5% significance range) i.e between -2 to +2 so Ho is True so.
#So u1=u3 and so we can say that defective % not varies from Phillipines to Malta.

In [154]:
#Ts for 3.
Ts3=(Xnbar-Wnbar)/(np.sqrt(2))
Ts3

0.021213203435596423

In [155]:
#As Ts3 in the int(95% confidence or 5% significance range) i.e between -2 to +2 so Ho is True so.
#So u1=u4 and so we can say that defective % not varies from Phillipines to India.

In [156]:
#Ts for 4.
Ts4=(Ynbar-Znbar)/(np.sqrt(2))
Ts4

0.0047140452079103175

In [157]:
#As Ts4 in the int(95% confidence or 5% significance range) i.e between -2 to +2 so Ho is True so.
#So u2=u3 and so we can say that defective % not varies from Indonesia to Malta.

In [158]:
#Ts for 5.
Ts5=(Ynbar-Wnbar)/(np.sqrt(2))
Ts5

0.03064129385141706

In [159]:
#As Ts5 in the int(95% confidence or 5% significance range) i.e between -2 to +2 so Ho is True so.
#So u2=u4 and so we can say that defective % not varies from Indonesia to India.

In [160]:
#Ts for 6.
Ts6=(Znbar-Wnbar)/(np.sqrt(2))
Ts6

0.02592724864350674

In [161]:
#As Ts6 in the int(95% confidence or 5% significance range) i.e between -2 to +2 so Ho is True so.
#So u3=u4 and so we can say that defective % not varies from Malta to India.

In [163]:
#so we can say that defective % not varies from centre to centre. (5% significance range or 95% confidence)